* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    padding: 0px;
    margin: 0px;
}

@font-face {
    font-family: 'Pinyon Script';
    font-style: normal;
    font-weight: 400;
    src: url(../font/pinyon-script-v8-latin/pinyon-script-v8-latin-regular.woff2) format('woff2'),
         url(../font/pinyon-script-v8-latin/pinyon-script-v8-latin-regular.woff) format('woff');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(../font/montserrat-v13-latin/montserrat-v13-latin-regular.woff) format('woff'),
         url(../font/montserrat-v13-latin/montserrat-v13-latin-regular.woff2) format('woff2');
}

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url(../font/montserrat-v13-latin/montserrat-v13-latin-700.woff2) format('woff2'),
         url(../font/montserrat-v13-latin/montserrat-v13-latin-700.woff) format('woff');
}

@font-face {
    font-family: 'Domine';
    font-style: normal;
    font-weight: 400;
    src: url(../font/domine-v6-latin/domine-v6-latin-regular.woff2) format('woff2'),
         url(../font/domine-v6-latin/domine-v6-latin-regular.woff) format('woff'); 
}

@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url(../font/roboto-slab-v8-latin/roboto-slab-v8-latin-regular.woff2) format('woff2'), 
         url(../font/roboto-slab-v8-latin/roboto-slab-v8-latin-regular.woff) format('woff'); 
  }

.wrapper {
    width: 940px;
    margin: 0 auto;
}

/* ---Header--- */

.nav {
    display: flex;   
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 100px;
}

/* ---Logo--- */

.logo {
    font-family: 'Pinyon Script', cursive;
    font-weight: 400;
    font-size: 26px;
    line-height: 41px;
    letter-spacing: 1px;
}

.logo a {
    text-decoration: none;
    color: #fed136;
}

/* ---Site-navigation--- */

.site-navigation {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 41px;
    text-transform: uppercase;
    list-style: none;
    color: #222222;
}

.site-navigation a {
    text-decoration: none;
    color: #222222;
}

.site-navigation li {
    margin-right: 35px;
}

.site-navigation li:last-child {
    margin-right: 0;
}

.site-navigation a:hover,
.site-navigetion a:focus {
    color: #fed136;
}

/* ---Main--- */

/* ---Services--- */
.services {
    text-align: center;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 75px;
    letter-spacing: -1px;
    color: #222222;
    text-transform: uppercase;
}

p {
    font-family: 'Domine', serif;
    font-weight: 400;
    font-style: italic;
    color: #777777;
    font-size: 16px;
}

.subtitle {
    margin-bottom: 70px;
}
/* ---Services-list--- */

.services-list {
    display: flex;
    justify-content: space-between;
}

.service-item {
    flex: 0 0 290px;
}

.service-item::before {
    content: '';
    display: flex;
    margin: 0 auto;
    height: 70px;
    width: 70px;
    background-image: url(../img/E-Commerce_03.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 3px solid #fed136;
    border-radius: 50px;
}

.service-item:nth-child(2)::before {
    background-image: url(../img/Responsive_05.png);
}

.service-item:last-child::before {
    background-image: url(../img/Web-security_07.png);
}

.service-item h3 {
    font-size: 18px;
    font-family: 'Montserrat',
    sans-serif;
    font-weight: 700;
    line-height: 75px;
    letter-spacing: -1px;
    color: #222222;
}

.service-item p {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    letter-spacing: 0;
    margin-bottom: 100px;
}





.contact {
    background-image: url(../img/Footer_12.png);
    width: 100vw;
}
.forms {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 70px;
}

.forms h2 {
    color: #ffffff;
}

.forms p {
    padding-bottom: 70px;
}

/*---Form-list--- */

.contact-area {
    display: flex;
}
.input {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

input {
    width: 435px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: none;
    font-size: 14px;
    color: #000000;
    letter-spacing: 0;
    padding-left: 20px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

textarea {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    text-transform: none;
    border: 1px solid #cccccc;
    border-radius: 3px;
    padding: 20px;
    font-size: 14px;
    resize: none;
    margin-left: 35px;
}

textarea::placeholder {
    text-transform: uppercase;
}

button[type="submit"] {
    border-style: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-top: 35px;
    line-height: 65px;
    background: #fed136;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0 47px;
    border-radius: 3px;
    cursor: pointer;
}

input::placeholder {
    text-transform: uppercase;
}
input:focus::placeholder {
    color: transparent;
}

input[type="text"][name="name"]:valid {
    outline-color: green;
}

input[type="text"][name="name"]:invalid {
    outline-color: red;
}

input[type="email"][name="email"]:valid {
    outline-color: green;
}

input[type="email"][name="email"]:invalid {
    outline-color: red;
}

textarea[name="message"]:valid {
    outline-color: green;
}

textarea[name="message"]:invalid {
    outline-color: red;
}