:root {
    --main-font: 'Montserrat Regular', sans-serif;
    --main-font-bold: 'Montserrat Bolt', sans-serif;
    --semi-font: 'Roboto Light', sans-serif;
    --main-font-color: #ffffff;
    --semi-font-color: #333333;
    --per-font-color: #666666;
    --but-font-color: #ff4e50;
    font-size: 62.5%;
}

