  $main-font: 'Montserrat Regular', sans-serif;
  $main-font-bolt: 'Montserrat Bolt', sans-serif;
  $semi-font: 'Roboto', sans-serif;
  $semi-font-italic: 'Roboto Light Italic', sans-serif;
  $slg-font: 'Kaushan Script', sans-serif;
  $main-font-color: #ffffff;
  $semi-font-color: #333333;
  $per-font-color: #999999;
  $hov-font-color: #fce38a;
  $fot-font-color: #f38181;
  $img-color: #95e1d3;
  $ftr-color: #e5e5e5;
  $semi-ftr-color: #cccccc;
