html {
    box-sizing: border-box;
    font-family: 'Playfair Display',
    serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
        padding: 0px;
        margin: 0px;
}

/* ---Navigation--- */

nav {
    padding-top: 75px;
    padding-bottom: 100px; 
}

ul.site-navigation {
    text-align: center;
}
.site-navigation li {
    display: inline-block;
     margin-right: 100px;
}   
.site-navigation li:last-child {
    margin-right: 0;
}
 
.site-navigation a {
    text-decoration: none;
    color: #626262;
    text-transform: uppercase;
    line-height: 24px;
    font-size: 14px;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #03a9f4;
}

/* ---Main section--- */

main {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    font-size: 0;
}
.wrapper {
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    margin: 0 auto;
    width: 900px;
    color: #626262;
}

.col {
    display: inline-block;
    width: 420px;
    margin-right: 5%;
    margin-bottom: 135px;
    text-align: center;
}

.col:nth-child(2n) {
    margin-right: 0;
}

.col:nth-child(5) {
    margin-bottom: 57px;
}

.col:last-child {
    margin-bottom: 57px;
}

img {
    padding-bottom: 32px;
}

.signature {
    text-align: left;
    line-height: 17px;
    color: #b4ad9e;
    font-size: 14px;
    font-family: 'Ubuntu-light',
    sans-serif;
    text-transform: uppercase;
    padding-bottom: 30px;
}

h3 {
    text-align: left;
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    padding-bottom: 41px;
}

.about {
    text-align: left;
    font-size: 14px;
    line-height: 24px;
}

/* ---Button--- */

.button {
    text-align: center;
    margin-bottom: 70px;
}

.load {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #626262;
    padding: 16px 29px;
    background-color: #ffff;
    border-color: #626262;
    outline: none;
}