.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: solid 1px #e5e5e5;
}

.footer-location {
    font-family: var(--main-font);
    font-size: 14px;
    color: var(--semi-font-color);
    font-style: normal;
}

.footer-location__lokation-link {
    color: var(--fot-font-color);
}

.footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
}

.footer-form__field {
    width: 230px;
    line-height: 40px;
    font-family: var(--semi-font);
    font-size: 15px;
    padding-left: 10px;
    color: var(--semi-font-color);
    border: 1px solid #e7e7e7;
    border-right: none;
    outline: none;
}

.footer-form__field::-webkit-input-placeholder {
    font-family: var(--semi-font-italic);
    font-size: 15px;
    color: #cccccc;
}

.footer-form__field::-moz-placeholder {
    font-family: var(--semi-font-italic);
    font-size: 15px;
    color: #cccccc;
}

.footer-form__field:-ms-input-placeholder {
    font-family: var(--semi-font-italic);
    font-size: 15px;
    color: #cccccc;
}

.footer-form__field::-ms-input-placeholder {
    font-family: var(--semi-font-italic);
    font-size: 15px;
    color: #cccccc;
}

.footer-form__field::placeholder {
    font-family: var(--semi-font-italic);
    font-size: 15px;
    color: #cccccc;
}

.footer-form__field:focus::-webkit-input-placeholder {
    color: transparent;
}

.footer-form__field:focus::-moz-placeholder {
    color: transparent;
}

.footer-form__field:focus:-ms-input-placeholder {
    color: transparent;
}

.footer-form__field:focus::-ms-input-placeholder {
    color: transparent;
}

.footer-form__field:focus::placeholder {
    color: transparent;
}

.footer-form__btn {
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--img-color);
    color: var(--main-font-color);
    font-family: var(--main-font-bolt);
    font-size: 14px;
    line-height: 40px;
    padding: 0 32px;
    border: none;
    outline: none;
    cursor: pointer;
}
