.service {
    margin: 46px 0 90px;
}

.service-slogan {
    text-align: center;
    margin: 0;
    font-family: var(--slg-font);
    font-size: 24px;
    color: var(--semi-font-color);
}

.service-slogan span {
    display: block;
    font-family: var(--main-font-bolt);
    font-size: 30px;
    text-transform: uppercase;
    line-height: 60px;
}

.service-slogan span:after {
    display: block;
    content: '';
    width: 60px;
    height: 3px;
    background-color: #f38181;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
}

.service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style: none;
    margin: 0 10px;
    padding: 0;
}

.service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 370px;
    flex: 0 0 370px;
    margin-bottom: 100px;
}

.service-item svg {
    display: inline-block;
    width: 32px;
    height: 32px;
    fill: var(--img-color);
    margin-right: 30px;
}

.service-title {
    font-family: var(--main-font);
    font-size: 14px;
    margin: 0;
    text-transform: uppercase;
    color: var(--semi-font-color);
    padding-bottom: 15px;
}

.service-subtitle {
    color: var(--per-font-color);
    font-family: var(--semi-font);
    font-size: 15px;
    line-height: 24px;
    margin: 0;
    padding-right: 12px;
}